@* @model Lab3.Models.Product
<h2>@Model.Name</h2>
<div>
    <h3>Price: @Model.Price</h3>
    <p>@Model.Description</p>
    @if (!string.IsNullOrEmpty(Model.ImageUrl))
    {
        <img src="@Model.ImageUrl" alt="Product Image" style="max-width:400px;" />
    }
</div>
<a asp-action="Index"><button type="button" class="btn btn-info mt-4">Back</button></a> *@
@model Lab3.Models.Product

@{
    ViewData["Title"] = "Display";
}



<div class="row">
    <h4>Thông tin sách</h4>
    <hr />
    <div class="col-md-3 mt-4">
        <img src="@Model.ImageUrl" alt="Book Image" style="max-width: 400px; max-height: 400px; border-radius: 5px" />
    </div>
    <div class="col-md-1"></div>
    <dl class="col-md-8 mt-4">

        <dd class="col-sm-10 mb-3">
            <strong>Tên sách:</strong> @Html.DisplayFor(model => model.Name)
        </dd>
@*         <dd class="col-sm-10 mb-3">
            <strong>Tác giả:</strong> @Html.DisplayFor(model => model.Author)
        </dd> *@
        <dd class="col-sm-10 mb-3">
            <strong>Thể loại:</strong> @Model.Category.Name
        </dd>
        <dd class="col-sm-10 mb-3">
            <strong>Mô tả:</strong><br />@Html.DisplayFor(model => model.Description)
        </dd>
        <dd class="col-sm-10 text-danger mb-3">
            <strong>Giá bán: @string.Format("{0:# ##0}", Model.Price) VNĐ</strong>
        </dd>
        <div class="col-sm-10">
            <a class="text-decoration-none" asp-action="Index" asp-route-id="@Model?.Id">
                <button type="button" class="btn btn-danger">Đặt Mua</button>
            </a>
            <a class="text-decoration-none" asp-action="Index">
                <button type="button" class="btn btn-primary">Trở Lại</button>
            </a>
        </div>
    </dl>

</div>


