@model IEnumerable<Lab3.Models.Product>

<div class="container">
    <div class="row">
        <div style="min-width: 202px" class="col-md-3">
            <h1>Thể loại</h1>
            <div class="list-group list-group-flush">
                @foreach (var categoryCountPair in ViewBag.BookCountByCategory)
                {
                    <a href="#" class="list-group-item list-group-item-action text-info">
                        @categoryCountPair.Key (@categoryCountPair.Value)
                    </a>
                }
            </div>
            <a class="text-decoration-none mt-4" asp-controller="Product" asp-action="Add">
                <button style="min-width: 100%" type="button" class="btn btn-success">Thêm sách</button>
            </a>
        </div>
        <div class="col-md-9">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                @foreach (var book in Model)
                {
                    <div style="min-width:300px" class="col">
                        <div class="card">
                            <div class="card-header bg-dark">
                                <h5 class="card-title text-white">@book.Name</h5>
                                <a class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="#">Edit</a>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Thể loại: @book.Category.Name</p>
                                <img style="max-width: 80%" src="@book.ImageUrl" class="card-img-top img-fluid" alt="Hình Ảnh Sách">
                            </div>
                            <div class="card-footer d-flex justify-content-end">
                                <a class="text-decoration-none me-4" asp-controller="Product" asp-action="Display" asp-route-id="@book.Id">
                                    <button type="button" class="btn btn-success">Chi Tiết</button>
                                </a>
                                <a class="text-decoration-none me-2" asp-controller="Product" asp-action="Update" asp-route-id="@book.Id">
                                    <button type="button" class="btn btn-primary">Sửa</button>
                                </a>
                                <a class="text-decoration-none" asp-controller="Product" asp-action="Delete" asp-route-id="@book.Id">
                                    <button type="button" class="btn btn-danger">Xóa</button>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>