@model IEnumerable<Lab3.Models.Product>

<div class="container">
    <div class="row mb-4">
        <div class="col-md-6">
            <form class="d-flex" asp-action="Index" asp-controller="Product">
                <input name="searchString" class="form-control me-1" type="search" placeholder="Search Name" aria-label="Search Name">
                <button class="btn btn-danger me-1 col-md-1 btn-lg" type="submit"><i class="bi bi-search"></i></button>
                <a asp-action="Index" class="text-white">
                    <button class="btn btn-primary" type="submit">Full List</button>
                </a>
            </form>
        </div>
    </div>
    <div class="row">
        <div style="min-width: 202px" class="col-md-3">
            <h1>Category</h1>
            <div class="list-group list-group-flush">
                @foreach (var categoryCountPair in ViewBag.BookCountByCategory)
                {
                    <a class="list-group-item list-group-item-action text-info" onclick="redirectToIndex('@categoryCountPair.Key')">
                        @categoryCountPair.Key (@categoryCountPair.Value)
                    </a>
                }
            </div>
            <a class="text-decoration-none mt-4" asp-controller="Product" asp-action="Add">
                <button style="min-width: 100%" type="button" class="btn btn-success"><i class="bi bi-plus-circle"></i> Add</button>
            </a>
        </div>
        <div class="col-md-9">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                @foreach (var book in Model)
                {
                    <div style="min-width:300px" class="col">
                        <div class="card">
                            <div class="card-header bg-dark">
                                <h5 class="card-title text-white">@book.Name</h5>
                                <a class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" asp-controller="Product" asp-action="Update" asp-route-id="@book.Id">Edit</a>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Category: @book.Category.Name</p>
                                <img style="max-width: 80%" src="@book.ImageUrl" class="card-img-top img-fluid" alt="Book Image">
                            </div>
                            <div class="card-footer d-flex justify-content-end">
                                <a class="text-decoration-none me-4" asp-controller="Product" asp-action="Display" asp-route-id="@book.Id">
                                    <button type="button" class="btn btn-success">Detail</button>
                                </a>
                                <a class="text-decoration-none me-2" asp-controller="Product" asp-action="Update" asp-route-id="@book.Id">
                                    <button type="button" class="btn btn-primary">Update</button>
                                </a>
                                <a class="text-decoration-none" asp-controller="Product" asp-action="Delete" asp-route-id="@book.Id">
                                    <button type="button" class="btn btn-danger">Delete</button>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script>
    function redirectToIndex(categoryName) {
        // Giải mã categoryName
        var decodedCategoryName = decodeURIComponent(categoryName);

        // Chuyển hướng đến action Index của controller Product với tham số categoryName
        window.location.href = '/Product/Index?categoryName=' + encodeURIComponent(decodedCategoryName);
    }
</script>