@model IEnumerable<Lab3.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Category</h1>

<p>
    <a asp-action="Add"><button type="button" class="btn btn-primary"><i class="bi bi-plus-circle"></i> Create new</button></a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    <a asp-action="Update" asp-route-id="@item.Id"><button type="button" class="btn btn-success">Edit</button></a>
                    <a asp-action="Display" asp-route-id="@item.Id"><button type="button" class="btn btn-info">Detail</button></a>
                    <a asp-action="Delete" asp-route-id="@item.Id"><button type="button" class="btn btn-danger">Delete</button></a>
            </td>
        </tr>
}
    </tbody>
</table>
